<div id="all-content" fxLayout="column">
  <div id="header-content">
    <mat-card>
      <mat-card-header class="home-title" fxLayout="column">
        <span class="welcome-text colored-text-anim">Welcome to the Bleatcoin Wallet!</span>
        <span class="tiny-text">{{versionNo}}</span>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="tabs-display-small">
          <mat-tab-group mat-align-tabs="end" animationDuration="500">
            <mat-tab label="Filter" class="no-hide-tab">
              <mat-card>
                <mat-card-header>
                  <span class="filter-header">Search for yourself or others here!</span>
                </mat-card-header>
                <mat-card-content class="filter-card-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="4px">
                  <div fxLayoutAlign="center center">
                    <form novalidate>
                      <mat-form-field matTooltip="Category to filter by" matTooltipPosition="left">
                        <mat-label>Filter</mat-label>
                        <mat-select [(value)]="sortSelected" (selectionChange)="filterByCriterion()">
                          <mat-option [value]='' selected>None</mat-option>
                          <mat-option *ngFor="let o of filterOptions; let i = index" [value]="o">{{filterOptionsDisplay[i]}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div fxFlex class="tabs-display">
          <mat-tab-group mat-align-tabs="end" animationDuration="800ms">
            <mat-tab label="Filter" class="no-hide-tab">
              <mat-card>
                <mat-card-header>
                  <span class="filter-header">Use the filtering options to help find your card!</span>
                </mat-card-header>
                <mat-card-content class="filter-card-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                  <div fxLayoutAlign="center center">
                    <form novalidate>
                      <mat-form-field matTooltip="Category to filter by" matTooltipPosition="left">
                        <mat-label>Filter</mat-label>
                        <mat-select [(value)]="sortSelected" (selectionChange)="filterByCriterion()">
                          <mat-option [value]='' selected>None</mat-option>
                          <mat-option *ngFor="let o of filterOptions; let i = index" [value]="o">{{filterOptionsDisplay[i]}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="Info" class="hide-when-small">
              <mat-card>
                <div class="faq-container" fxLayout="row" fxLayoutGap="8px">
                  <div fxLayout="column" fxLayoutAlign="space-between">
                    <div fxLayout="column">
                      <h3 class="lora-font"><mat-icon>contact_support</mat-icon> Questions?</h3>
                      <h5 class="lora-font stream-info-text">
                        All of Lamb's contact and commission information can be found <a matTooltip="https://lamb-art.carrd.co/" href="https://lamb-art.carrd.co/" target="_blank">here</a>.
                      </h5>
                    </div>
                    <div>
                      <span class="lora-font lora-font-smaller">
                        Designed by <a href="https://www.twitter.com/Fisk_CW" target="_blank">Fisk Fujisawa (Twitter)</a>
                      </span>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Support!" class="hide-when-small">
              <mat-card>
                <div class="support-container" fxLayout="row" fxLayoutGap="8px">
                  <div class="card" matTooltip="Click me to go to Lamb's Patreon!" (click)="navByUrlPatreon()">
                    <h3 class="title">Support</h3>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                      <img src="../../assets/bleatcoin-max.png" class="bleatcoin-mid hvr-bob">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50"/>
                      </svg>
                    </div>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div fxLayout="column">
                    <h3 class="lora-font"><mat-icon>brush</mat-icon> Support via Patreon!</h3>
                    <h5 class="lora-font stream-info-text">Support Lamb on Patreon for the following benefits:</h5>
                    <ul class="lora-font lora-font-slightly-bigger">
                      <li>Patron Discord server access! (We're really cool.)</li>
                      <li>Access to WIPs / Fullsize images!</li>
                      <li>Pre-purchase slots in streams!</li>
                      <li>Early access to prompts, commissions, adoptables, etc.!</li>
                      <li>Earn Bleatcoins to redeem for rewards!</li>
                      <li>Or find Lamb in the places below:</li>
                    </ul>
                    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
                      <a href="https://www.patreon.com/lustylamb" target="_blank">
                        <button matTooltip="Patreon" mat-raised-button class="fa-patreon-a hvr-float-shadow"><i class="fab fa-patreon fa-lg"></i></button>
                      </a>
                      <a href="https://www.twitter.com/lusty_lamb" target="_blank">
                        <button matTooltip="Twitter" mat-raised-button class="fa-twitter-a hvr-float-shadow"><i class="fab fa-twitter fa-lg"></i></button>
                      </a>
                      <a href="http://www.furaffinity.net/user/lustylamb" target="_blank">
                        <button matTooltip="Fur Affinity" mat-raised-button class="fa-fura-a hvr-float-shadow"><i class="fas fa-paw fa-lg"></i></button>
                      </a>
                      <a href="http://www.picarto.tv/lustylamb" target="_blank">
                        <button matTooltip="Picarto" mat-raised-button class="fa-picarto-a hvr-float-shadow"><i class="fas fa-paint-brush fa-lg"></i></button>
                      </a>
                      <a href="https://t.me/LustyLamb" target="_blank">
                        <button matTooltip="Telegram" mat-raised-button class="fa-twitter-a hvr-float-shadow"><i class="fab fa-telegram-plane fa-lg"></i></button>
                      </a>
                      <a href="https://www.redbubble.com/people/weepysheep" target="_blank">
                        <button matTooltip="RedBubble" mat-raised-button class="fa-redbubble-a hvr-float-shadow"><i class="fas fa-tshirt fa-lg"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Spend!" class="hide-when-small">
                <mat-card>
                  <div class="spend-container" fxLayout="row" fxLayoutGap="8px">
                    <div class="card" matTooltip="Click me to open the Bleatcoin form!" (click)="navByUrlBCForm()">
                      <h3 class="title">Spend Coins</h3>
                      <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                      </div>
                      <div class="circle">
                        <img src="../../assets/bleatcoin-max.png" class="bleatcoin-mid hvr-bob">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <circle class="stroke" cx="60" cy="60" r="50"/>
                        </svg>
                      </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div fxLayout="column" fxLayoutGap="4px">
                      <span class="lora-font">You may reserve a slot up to 2 weeks in advance. You may combine Bleatcoin / cash to pay for a commission (1 coin = $3).</span>
                      <span class="lora-font">Use <a href="http://bit.ly/BleatcoinShop" target="_blank">this form</a> to place a Bleatcoin order.</span>
                      <span class="lora-font">What you can order:</span>
                      <table class="lora-font pricing-table">
                        <thead>
                          <tr>
                            <th>Commission Type</th>
                            <th>1 Char Price</th>
                            <th>2 Char Price</th>
                          </tr>
                        </thead>
                        <tr>
                          <td>Messy Sketch + Highlight Color</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 5</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 10</td>
                        </tr>
                        <tr>
                          <td>Messy Sketch + Full Color</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 10</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 13</td>
                        </tr>
                        <tr>
                          <td>Colored Sketch + Color</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 22</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 25</td>
                        </tr>
                        <tr>
                          <td>Mini Doodlesheet</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 25</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 40</td>
                        </tr>
                        <tr>
                          <td>Standard Doodlesheet</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 42</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 66</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </mat-card>
              </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="requestInProgress">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div fxFlex class="chip-container patron-list" *ngIf="!requestInProgress">
    <mat-chip-list fxLayout="row" [selectable]="false">
      <mat-basic-chip *ngFor="let pat of patronList" class="p-chip" [disableRipple]="true">
        <mat-card fxGrowfxLayout="column" fxLayoutGap="12px" fxLayoutAlign="center center" class="p-card">
          <mat-card-content class="p-card-content" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="8px">
            <span class="username">{{pat.username}}</span>
            <hr class="separator">
            <span class="tier" [ngClass]="assignClass(pat.tier)">{{pat.tier}}</span>
            <div class="coins-wrapper" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
              <img class="bleatcoin" src="../../assets/bleatcoin-max.png">
              <span class="coins">
                {{pat.coins}}
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-basic-chip>
    </mat-chip-list>
  </div>    
</div>