<div id="all-content" fxLayout="column">
  <div id="header-content">
    <mat-card>
      <mat-card-header class="home-title" fxLayout="column">
        <span class="welcome-text colored-text-anim">Welcome to the Bleatcoin Wallet!</span>
        <span class="tiny-text">{{versionNo}}</span>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex class="tabs-display-small">
          <mat-tab-group mat-align-tabs="end" animationDuration="500">
            <mat-tab label="Filter" class="no-hide-tab">
              <mat-card>
                <mat-card-header>
                  <span class="filter-header">Search for yourself or others here!</span>
                </mat-card-header>
                <mat-card-content class="filter-card-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="4px">
                  <div fxLayoutAlign="center center">
                    <form novalidate>
                      <mat-form-field matTooltip="Category to filter by" matTooltipPosition="right">
                        <mat-label>Filter</mat-label>
                        <mat-select [(value)]="selectedSearch">
                          <mat-option [value]='' selected>None</mat-option>
                          <mat-option *ngFor="let o of filterOptions; let i = index" [value]="o">{{filterOptionsDisplay[i]}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                  <div fxLayoutAlign="center center">
                    <form novalidate>
                      <mat-form-field>
                        <mat-label>Search Term</mat-label>
                        <input matInput type="text" [formControl]="filterTextControl" [disableControl]="isSelectedSearchEmpty()" (keyup)="filterByCritereon()">
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                    </form>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div fxFlex class="tabs-display">
          <mat-tab-group mat-align-tabs="end" animationDuration="800ms">
            <mat-tab label="Filter" class="no-hide-tab">
              <mat-card>
                <mat-card-header>
                  <span class="filter-header">Search for yourself or others here!</span>
                </mat-card-header>
                <mat-card-content class="filter-card-content" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                  <div fxLayoutAlign="center center">
                    <form novalidate>
                      <mat-form-field matTooltip="Category to filter by" matTooltipPosition="right">
                        <mat-label>Filter</mat-label>
                        <mat-select [(value)]="selectedSearch">
                          <mat-option [value]="" selected>None</mat-option>
                          <mat-option *ngFor="let o of filterOptions; let i = index" [value]="o">{{filterOptionsDisplay[i]}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                  <div fxLayoutAlign="center center">
                    <form novalidate>
                      <mat-form-field *ngIf="!selectedSearchIsTier">
                        <mat-label>Search Term</mat-label>
                        <input matInput type="text" [formControl]="filterTextControl" [disableControl]="isSelectedSearchEmpty()" (keyup)="filterByCritereon()">
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                      <mat-form-field *ngIf="selectedSearchIsTier">
                        <mat-label>Tier</mat-label>
                        <mat-select [(value)]="selectedFilterTier" (selectionChange)="filterByCritereon()">
                          <mat-option [value]="" selected>None</mat-option>
                          <mat-option *ngFor="let t of availableTiers" [value]="t">{{t}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="FAQ" class="hide-when-small">
              <mat-card>
                <div class="faq-container" fxLayout="row" fxLayoutGap="8px">
                  <div class="card">
                    <h3 class="title">FAQ</h3>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                      <img src="../../assets/bleatcoin-max.png" class="bleatcoin-mid hvr-bob">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50"/>
                      </svg>
                    </div>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div fxLayout="column" fxLayoutAlign="space-between">
                    <div fxLayout="column">
                      <h3 class="lora-font"><mat-icon>contact_support</mat-icon> Got Questions?</h3>
                      <h5 class="lora-font stream-info-text">Q: What are your commission terms?</h5>
                      <span class="lora-font">A: My TOS are located <a href="http://tinyurl.com/lustytos">here</a>.</span>
                      <h5 class="lora-font stream-info-text">Q: What will/wont you draw?</h5>
                      <span class="lora-font">A: Check this f-list <a href="https://www.f-list.net/c/lustylamb%20comms">here</a>.</span>
                      <h5 class="lora-font stream-info-text">Q: What's a 'Bleatcoin'?</h5>
                      <span class="lora-font">Bleatcoins are Patreon rewards that can be exchanged for art!</span>
                    </div>
                    <div>
                      <span class="lora-font lora-font-smaller">
                        Designed by <a href="https://www.twitter.com/Fisk_CW" target="_blank">Fisk Fujisawa (Twitter)</a>
                      </span>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Support!" class="hide-when-small">
              <mat-card>
                <div class="support-container" fxLayout="row" fxLayoutGap="8px">
                  <div class="card">
                    <h3 class="title">Support</h3>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                      <img src="../../assets/bleatcoin-max.png" class="bleatcoin-mid hvr-bob">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50"/>
                      </svg>
                    </div>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div fxLayout="column">
                    <h3 class="lora-font"><mat-icon>brush</mat-icon> Support via Patreon!</h3>
                    <h5 class="lora-font stream-info-text">Support Lamb on Patreon for the following benefits:</h5>
                    <ul class="lora-font lora-font-slightly-bigger">
                      <li>Patron Discord server access! (We're really cool.)</li>
                      <li>Access to WIPs / Fullsize images!</li>
                      <li>Pre-purchase slots in streams!</li>
                      <li>Early access to prompts, commissions, adoptables, etc.!</li>
                      <li>Earn Bleatcoins to redeem for rewards!</li>
                    </ul>
                    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
                      <span class="lora-font span-disappear-small">Find Lamb here: </span>
                      <a href="https://www.patreon.com/lustylamb" target="_blank">
                        <button matTooltip="Patreon" mat-raised-button class="fa-patreon-a hvr-float-shadow"><i class="fab fa-patreon fa-lg"></i></button>
                      </a>
                      <a href="https://www.twitter.com/lusty_lamb" target="_blank">
                        <button matTooltip="Twitter" mat-raised-button class="fa-twitter-a hvr-float-shadow"><i class="fab fa-twitter fa-lg"></i></button>
                      </a>
                      <a href="http://www.furaffinity.net/user/lustylamb" target="_blank">
                        <button matTooltip="Fur Affinity" mat-raised-button class="fa-fura-a hvr-float-shadow"><i class="fas fa-paw fa-lg"></i></button>
                      </a>
                      <a href="http://www.picarto.tv/lustylamb" target="_blank">
                        <button matTooltip="Picarto" mat-raised-button class="fa-picarto-a hvr-float-shadow"><i class="fas fa-paint-brush fa-lg"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Streams!" class="hide-when-small">
              <mat-card>
                <div class="streams-container" fxLayout="row" fxLayoutGap="8px">
                  <div class="card">
                    <h3 class="title">Streams</h3>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="circle">
                      <img src="../../assets/bleatcoin-max.png" class="bleatcoin-mid hvr-bob">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="stroke" cx="60" cy="60" r="50"/>
                      </svg>
                    </div>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div fxLayout="column" fxLayoutAlign="start center">
                    <h3 class="lora-font"><mat-icon>today</mat-icon> Current Stream Schedule:</h3>
                    <h5 class="lora-font stream-info-text">Normal Streams</h5>
                    <span class="lora-font">Tuesday ~7:00PM EST - 2:00AM EST</span>
                    <span class="lora-font">Friday ~7:00PM EST - 2:00AM EST</span>
                    <span class="lora-font">Sunday ~7:00PM EST - 2:00AM EST</span>
                    <h5 class="lora-font stream-info-text">Patreon Streams</h5>
                    <span class="lora-font">First Saturday after the 5th of each month.</span>
                    <h4 class="lora-font stream-info-text">
                      Catch the stream here <a href="http://www.picarto.tv/lustylamb" target="_blank">
                        <button matTooltip="https://www.picarto.tv/lustylamb" mat-raised-button class="fa-picarto-a hvr-float-shadow"><i class="fas fa-paint-brush fa-lg"></i></button>
                      </a>
                    </h4>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab label="Spend!" class="hide-when-small">
                <mat-card>
                  <div class="spend-container" fxLayout="row" fxLayoutGap="8px">
                    <div class="card">
                      <h3 class="title">Spend Coins</h3>
                      <div class="bar">
                        <div class="emptybar"></div>
                        <div class="filledbar"></div>
                      </div>
                      <div class="circle">
                        <img src="../../assets/bleatcoin-max.png" class="bleatcoin-mid hvr-bob">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                          <circle class="stroke" cx="60" cy="60" r="50"/>
                        </svg>
                      </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div fxLayout="column" fxLayoutGap="4px">
                      <span class="lora-font">You may reserve a slot up to 2 weeks in advance. You may combine Bleatcoin / cash to pay for a commission (1 coin = $3).</span>
                      <span class="lora-font">Use <a href="http://bit.ly/BleatcoinShop" target="_blank">this form</a> to place a Bleatcoin order.</span>
                      <span class="lora-font">What you can order:</span>
                      <table class="lora-font pricing-table">
                        <thead>
                          <tr>
                            <th>Commission Type</th>
                            <th>1 Char Price</th>
                            <th>2 Char Price</th>
                          </tr>
                        </thead>
                        <tr>
                          <td>Messy Sketch + Highlight Color</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 5</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 10</td>
                        </tr>
                        <tr>
                          <td>Messy Sketch + Full Color</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 10</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 13</td>
                        </tr>
                        <tr>
                          <td>Colored Sketch + Color</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 22</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 25</td>
                        </tr>
                        <tr>
                          <td>Mini Doodlesheet</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 25</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 40</td>
                        </tr>
                        <tr>
                          <td>Standard Doodlesheet</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 42</td>
                          <td><img src="../../assets/bleatcoin-max.png" class="bleatcoin-small"> 66</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </mat-card>
              </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="content" fxFlex fxLayout="column">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="requestInProgress">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div id="patron-list-header" *ngIf="!requestInProgress">
      <mat-card>
        <div class="Rtable Rtable--3cols Rtable--collapse">
          <div fxLayoutAlign="center center" class="Rtable-cell Rtable-cell--head"><span class="manage-header">Username</span></div>
          <div fxLayoutAlign="center center" class="Rtable-cell"><span class="manage-header">Patron Tier</span></div>
          <div fxLayoutAlign="center center" class="Rtable-cell"><span class="manage-header">Bleatcoins</span><img class="bleatcoin" src="../../assets/bleatcoin-max.png"></div>
        </div>
      </mat-card>
    </div>
    <div fxFlex id="patron-list" *ngIf="!requestInProgress" [@listAnimation]="patronList.length">
      <mat-card class="patron-display-card" *ngFor="let p of patronList; let i = index">
        <mat-card-content>
          <div class="Rtable Rtable--3cols Rtable--collapse">
            <div fxLayoutAlign="center center" class="Rtable-cell Rtable-cell--head"><span class="username-display user-info">{{p.username}}</span></div>
            <div fxLayoutAlign="center center" class="Rtable-cell"><span class="tier-display user-info" [ngClass]="assignClass(p.tier)">{{p.tier}}</span></div>
            <div fxLayoutAlign="center center" class="Rtable-cell">
              <span class="coins-display user-info">{{p.coins}}</span>
              <img class="bleatcoin" src="../../assets/bleatcoin-max.png">
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>      
</div>