<div id="content" fxLayout="column" fxLayoutGap="16px" *ngIf="passedAuth">
  <div id="top-panel">
    <mat-card class="top-panel-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <div fxFlex class="top-panel-content">
          <img id="lamb-icon-one" src="../../assets/ll_pride.png">
        </div>
        <div class="top-panel-content-lg">
          <span id="top-panel-text" class="colored-text-anim">Welcome to your management portal, Lamb!</span>
        </div>
        <div class="top-panel-content top-panel-buttons-div" fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="8px">
            <button class="top-panel-button hvr-bounce-to-left" mat-raised-button (click)="logout()" color="accent">
                <mat-icon>undo</mat-icon> Logout
            </button>
            <a routerLink="/Logs">
              <button class="top-panel-button hvr-bounce-to-left" mat-raised-button color="primary"><mat-icon>view_headline</mat-icon> Logs</button>
            </a>
            <button class="top-panel-button hvr-bounce-to-left" mat-raised-button color="primary" (click)="downloadAsCSV()"><mat-icon>arrow_downward</mat-icon> Download CSV</button>
            <a *ngIf="false" routerLink="/experimental"><button class="top-panel-button hvr-bounce-to-left" mat-raised-button color="primary">Experimental</button></a>
        </div>
    </mat-card>
  </div>
  <div id="management-controls" *ngIf="!requestInProgress">
    <mat-card class="top-panel-container">
      <mat-card-header>
          <mat-icon *ngIf="!isControlsHidden()" (click)="setControlsHidden(true)" matTooltip="Collapse Controls">keyboard_arrow_up</mat-icon>
          <mat-icon *ngIf="isControlsHidden()" (click)="setControlsHidden(false)" matTooltip="Expand Controls">keyboard_arrow_down</mat-icon>
      </mat-card-header>
      <mat-card-content [ngClass]="{'controls-hidden': isControlsHidden()}">
        <div class="Rtable Rtable--3cols Rtable--collapse Rtable-special">
          <div class="Rtable-cell Rtable-cell--head" fxLayoutAlign="center center">
            <button mat-raised-button class="management-button" color="primary" (click)="openAddPatronDialog()" 
              matTooltip="Add a new patron" matTooltipPosition="left">
              <mat-icon class="icon-left-side">add_circle_outline</mat-icon>Add New Patron
            </button>
          </div>
          <div class="Rtable-cell" fxLayoutAlign="center center">
            <button mat-raised-button class="management-button" color="primary" (click)="openBatchCoinAddDialog()" 
              matTooltip="Add coins to a tier of patrons" matTooltipPosition="left">
              <mat-icon class="icon-left-side">supervised_user_circle</mat-icon>Batch Add Coins
            </button>
          </div>
          <div class="Rtable-cell" fxLayoutAlign="center center">
            <form novalidate>
              <mat-form-field matTooltip="Category to filter by" matTooltipPosition="left">
                <mat-label>Filter</mat-label>
                <mat-select [(value)]="sortSelected" (selectionChange)="filterByCriterion(sortSelected)">
                  <mat-option [value]='' selected>None</mat-option>
                  <mat-option *ngFor="let o of filterOptions; let i = index" [value]="o">{{filterOptionsDisplay[i]}}</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" *ngIf="requestInProgress">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div class="chip-container patron-list" fxLayout="row wrap" fxLayoutGap="12px">
    <mat-card *ngFor="let pat of patronList; let i = index" fxFlex fxLayout="column" fxLayoutGap="12px" class="p-card">
      <mat-card-title class="b-header" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-mini-fab class="edit-button" color="accent" (click)="openEditPatronDialog(pat.p)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab class="delete-button" color="warn" (click)="openDeletePatronDialog(pat.p)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content class="p-card-content" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="8px">
        <div fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="center center">
          <span class="username">{{pat.p.username}}</span>
          <span class="patreon-name">AKA: {{pat.p.realname}}</span>
        </div>
        <hr class="separator">
        <span class="tier" [ngClass]="assignClass(pat.p.tier)">{{pat.p.tier}}</span>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
          <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center" fxFlex="50%">
            <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
              <img class="bleatcoin" src="../../assets/bleatcoin-max.png">
              <span class="coins" [ngClass]="{'greentext': coinsHigherThanInitial(i), 'redtext': coinsLowerThanInitial(i), 'blacktext': noCoinsChange(i)}">
                {{pat.p.coins + pat.coinControl.value}}
              </span>
            </div>
          </div>
          <div class="buttons" fxLayout="row" fxLayoutGap="6px" fxFlex="50%" fxLayoutAlign="center center" (keypress)="onMatChipKeyPress($event)">
            <form novalidate (keypress)="onMatChipKeyPress($event)">
              <mat-form-field class="change-coins-input">
                <mat-label>+/- coins</mat-label>
                <input matInput type="number" [formControl]="pat.coinControl">
                <mat-error>
                  max: +/- 99,999
                </mat-error>
              </mat-form-field>
            </form>
          </div>
        </div>
        <button class="save-button" mat-raised-button color="accent" (click)="updateCoins(i)" [disabled]="noCoinsChange(i) || pat.coinControl.invalid">Save</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>